<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-sortable.css">
    <link rel="stylesheet" href="/css/tautoa.css">
    
  </head>
  
  
  <body>
  	<br><br><br>
<h3>admin</h3>
<br><br>
<strong>change db</strong>
<form  method='post' action='change_portfolio'>
		<select name='database' id='database'  class='cat_select' onchange="this.form.submit()" >
        <option value="0">choose...</option>
        <option value="andys_portfolio">andys_portfolio</option>
    		<option value="test_portfolio">test_portfolio</option>
    </select>
</form>



<br><br>
<strong>create db:</strong> <input type='text' name='' value=''/>_portfolio
<br><br>
delete db?
<br><br>
<button type='text' name='' value=''/>backup db</button>

</body>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-sortable.js"></script>
<script type="text/javascript" src="/js/tautoa.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
</html>