<% d = JSON.parse(data) %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="images/tortoise7.png.ico">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-sortable.css">
    <link rel="stylesheet" href="/css/dividend.css">

  </head>


<body>
x
<div id='chart1' class='pie'></div>
y
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<!-- <script type="text/javascript" src="/js/bootstrap-sortable.js"></script> -->
<script type="text/javascript" src="/js/d3.min.js"></script>
<!-- <script type="text/javascript" src="/js/date.format.js"></script></html> -->
<script type="text/javascript" src="/js/charts.js"></script></html>