<% d = JSON.parse(data) %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="icon" href="images/tortoise7.png.ico">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-sortable.css">
    <link rel="stylesheet" href="/css/dividend.css">

  </head>


<body>

<br>
<%= title %> : <%= database %>
<br><br>
<a href='/'><--Back</a>
<br>
<% var sum_basis = 0.0 %>
<% var sum_value = 0.0 %>
<% var sum_profit = 0.0 %>
<% var sum_est_div = 0.0 %>
<% var acct_types = ['Taxable','IRA','403b','Roth'] %>
<% var vals = {} %>
<% var names_sort = [] %>
<% for(n in acct_types){ 
	vals[acct_types[n]] = 0
	}
%>
<% for(row in d){ %>
	<% names_sort.push(d[row]['name']) %>
	<%  cshares = parseFloat(d[row]['cur_shares']) %>
    <%  basis = parseFloat(d[row]['basis']) %>
    <%  sum_basis += basis %>
    <%  cprice = parseFloat(d[row]['cur_price']) %>
    <%  cvalue = parseFloat(d[row]['cur_value']) %>
    <%  sum_value += cvalue %>
    <%  profit = cvalue - basis %>
    <%  sum_profit += profit %>
    <%  dps = parseFloat(d[row]['div_rate']) %>
    <%  est_div = parseFloat(dps)  * parseFloat(cshares) %>
    
    <%  for(n in acct_types){
    		if(d[row]['acct_type'] == acct_types[n]){
    		vals[acct_types[n]] += cvalue
    		}
        } %>
<% } %>
<% names_sort.sort() %>
<center>
<table id='div_table' border='1'><tr>
	<th>Sector</th>
	<th>Ticker</th>
	<th>Name</th>
	<th>Account</th>
	<th>Shares</th>
	<th>Basis</th>
	<th>Cost/Share</th>
	<th>Price</th>
	<th>Value</th>
	<th>Profit</th>
	<th>Weight</th>
	<th>Div/sh</th>
	<th>Div Est/yr</th>
</tr>
<% for(row in d){ %>
    <%  cshares = parseFloat(d[row]['cur_shares']) %>
    <%  basis = parseFloat(d[row]['basis']) %>
    <%  cps = basis / cshares %>
    <%  cprice = parseFloat(d[row]['cur_price']) %>
    <%  cvalue = parseFloat(d[row]['cur_value']) %>
    <%  profit = cvalue - basis %>
    <%  dps = parseFloat(d[row]['div_rate']) %>
    <%  est_div = parseFloat(dps) * parseFloat(cshares) %>
    <%  sum_est_div += est_div %>
    <tr>
	<td><%= d[row]['sector'] %></td>
	<td><%= d[row]['ticker'] %></td>
	<td><%= d[row]['name'] %></td>
	<td><%= d[row]['acct_type'] %></td>
	<td class='align-right'><%= (parseFloat(cshares)).formatMoney(3) %></td>
	<td class='align-right'>$<%= (parseFloat(basis)).formatMoney(2) %></td>
	<td class='align-right'>$<%= (parseFloat(cps)).formatMoney(2) %></td>
	<td class='align-right'>$<%= (parseFloat(cprice)).formatMoney(2) %></td>
	<td class='align-right'>$<%= (parseFloat(cvalue)).formatMoney(2) %></td>
	<td class='align-right'>$<%= (parseFloat(profit)).formatMoney(2) %></td>
	<td class='align-center'>?</td>
	<td class='align-right'>$<%= (parseFloat(dps)).formatMoney(2) %></td>
	
	<td class='align-right'>$<%= (parseFloat(est_div)).formatMoney(2) %></td>
	
	</tr>
<% } %>

<tr>
	<td class='bold'>SUMS</td>
	<td class='bold'></td>
	<td class='bold'></td>
	<td class='bold'></td>
	<td class='bold'></td>
	<td class='align-right bold'>$<%= (parseFloat(sum_basis)).formatMoney(2) %></td>
	<td></td>
	<td></td>
	<td class='align-right bold'>$<%= (parseFloat(sum_value)).formatMoney(2) %></td>
	<td class='align-right bold'>$<%= (parseFloat(sum_profit)).formatMoney(2) %></td>
	<td></td>
	<td></td>
	<td class='align-right bold'>$<%= (parseFloat(sum_est_div)).formatMoney(2) %></td>
</tr>
</table>
</center><br>
<table border='1'>
<tr><th colspan='2'>Accounts Breakdown</th></tr>
<% for(acct in vals){ %>
	<% pct = 100*(parseFloat(vals[acct])/parseFloat(sum_value)) %>
	<tr><td><%= acct %></td><td><%= (pct).formatMoney(2) %>%</td></tr>
<% } %>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-sortable.js"></script>
<!-- <script type="text/javascript" src="/js/app_client.js"></script> -->
<script type="text/javascript" src="/js/date.format.js"></script></html>
<script type="text/javascript" src="/js/dividend.js"></script></html>