body {
	font-size:16px;
	padding: 2px 6px 2px 2px;
}
/* unvisited link */
a:link {
    color: black;
}
.container{
	padding:5px 20px;
}
/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}
#div_table{
   font-size:12px;
}
td.align-right {
	text-align:right;
}
td.align-center {
	text-align:center;
}
td.bold {
	font-weight:bold;
}
td,th {
	padding:0 2px;
	font-size:1.05em;
}

/* Sortable tables */
#div_table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
#div_table.sortable tbody tr:nth-child(2n) td {
  background: #ffcccc;
}
#div_table.sortable tbody tr:nth-child(2n+1) td {
  background: #ccfffff;
}
#div_table.sortable tbody {
    counter-reset: sortabletablescope;
}
#div_table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
#div_table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
#div_table.sortable tbody tr:hover td {
    background-color: #ffff99;
}