
    

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top center" role="navigation">
      <div class="navbar-inner">
        
       
			
          
            
              <button id='reset_btn' class='btn btn-xs pull-left'>Reload/Reset Filters</button>
            
          
      
        
          <ul class="nav navbar-nav"  >
            
            <li><img src='images/tortoiseLWhite.png' alt='' height='50'></li>
            
            <li><a href="#" id='update_prices'>Update Prices</a></li>
            <li><a href="#" id="cleanup">CleanUp</a></li>
			      <li><a href="#" id='new_transaction'>New Transaction</a></li>
            

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">more
                <span class="caret"></span>
              </a>
              

              <ul class="dropdown-menu" role="menu">

                <li class="divider"></li>            
                <li><a href='/security_form/new/0'>New Security</a></li>
                
                <li><a href="#" id='view_hidden_btn'>View Inactive</a></li>
                <li><a href="#" id='cleanup_all'>CleanUp All</a></li>
                
                <li><a href="/backup_dump">Backup Data</a></li>
                <li><a href="/notes" target='_blank'>Notes</a></li>
                <li><a href="/dividend" id='dividend_analysis'>Dividend Analysis</a></li>
                <li><a href="/charts" id='charts'>Charts</a></li>
                
                <li class="divider"></li>
                <li><a href='about'>About</a></li>
                
              </ul>
            </li> 
            <li><img src='images/tortoiseRWhite.png' alt='' height='50'></li>         
           
          </ul>


       
      </div>
    </nav>